@charset "UTF-8";
.glbox .toppath {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-color: #ccc;
  width: 1250px;
  margin: 5px 0px; }

.gldiv {
  margin-bottom: 15px; }
  .gldiv .gldiv_l {
    width: 400px;
    height: 630px;
    padding: 10px; }
    .gldiv .gldiv_l #MagnifierWrap2 {
      position: relative;
      width: 380px; }
    .gldiv .gldiv_l .MagnifierMain {
      position: relative;
      width: 380px;
      height: 380px;
      z-index: 5; }
    .gldiv .gldiv_l .MagnifierMain img {
      z-index: 5;
      width: 380px;
      height: 380px; }
    .gldiv .gldiv_l .MagnifierDrag {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ccc;
      opacity: 0.4;
      filter: alpha(opacity=40);
      cursor: move; }
    .gldiv .gldiv_l .MagnifierPop {
      position: absolute;
      top: 0;
      overflow: hidden;
      background: #fff url(http://fan.yoka.com/fan5.0/img/loading.gif) no-repeat center center; }
    .gldiv .gldiv_l .MagnifierImg {
      position: absolute;
      top: 0;
      left: 0; }
    .gldiv .gldiv_l .spec-items {
      position: relative;
      width: 292px;
      height: 80px;
      overflow: hidden;
      padding-top: 10px;
      margin: 0 auto; }
    .gldiv .gldiv_l .spec-items ul {
      width: 500%;
      position: absolute;
      top: 10px;
      left: 0; }
    .gldiv .gldiv_l .spec-items ul * {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .gldiv .gldiv_l .spec-items li {
      width: 65px;
      height: 65px;
      float: left;
      overflow: hidden;
      margin-right: 5px;
      border: 2px solid #fff;
      cursor: pointer; }
    .gldiv .gldiv_l .spec-items li.on {
      border: 2px solid #000; }
    .gldiv .gldiv_l .spec-items li img {
      width: 100%; }
    .gldiv .gldiv_l span.spe_leftBtn,
    .gldiv .gldiv_l span.spe_rightBtn {
      position: absolute;
      bottom: 0px;
      display: block;
      width: 20px;
      height: 69px;
      line-height: 69px;
      font-family: "黑体";
      text-align: center;
      font-size: 30px;
      color: #ddd;
      cursor: default;
      background-color: #f9f9f9; }
    .gldiv .gldiv_l span.on {
      background-color: #ccc;
      color: #999;
      cursor: pointer; }
    .gldiv .gldiv_l span.spe_leftBtn {
      left: 0; }
    .gldiv .gldiv_l span.spe_rightBtn {
      right: 0; }
    .gldiv .gldiv_l .fdbox_b {
      margin-top: 70px; }
      .gldiv .gldiv_l .fdbox_b .tltle {
        line-height: 22px;
        height: 24px;
        display: block;
        float: left;
        width: 100%; }
        .gldiv .gldiv_l .fdbox_b .tltle p {
          margin-right: 15px;
          font-size: 14px;
          color: #838282;
          padding-left: 30px;
          background-repeat: no-repeat;
          background-position: 5px center;
          width: 60px; }
        .gldiv .gldiv_l .fdbox_b .tltle .fav {
          background-image: url(../img/gl/goodsinfo_ico1.png); }
        .gldiv .gldiv_l .fdbox_b .tltle .sha {
          float: left;
          background-image: url(../img/gl/goodsinfo_ico2.png); }
        .gldiv .gldiv_l .fdbox_b .tltle #shaicon {
          float: left;
          height: 30px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon a {
            display: block;
            height: 16px;
            float: left;
            cursor: pointer;
            padding-top: 6px;
            padding-bottom: 3px;
            padding-left: 22px;
            background-repeat: no-repeat;
            background-image: url(../img/gl/is.png); }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_qzone {
            background-position: 0 -75px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_xl {
            background-position: 0 -115px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_tx {
            background-position: 0 -155px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_rrw {
            background-position: 0 -195px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_bdsc {
            background-position: 0 -235px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_dbw {
            background-position: 0 -315px; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_more {
            background-position: 0 0;
            color: #000;
            line-height: 15px;
            height: 28px;
            padding-left: 22px;
            background: url(../img/gl/is.png) no-repeat;
            cursor: pointer;
            position: relative;
            font-size: 12px; }
            .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_more .sha_morebox {
              cursor: auto;
              position: absolute;
              width: 300px;
              height: 300px;
              top: 20px;
              left: 0px;
              display: none;
              background-color: #000; }
          .gldiv .gldiv_l .fdbox_b .tltle #shaicon .sha_more:hover .sha_morebox {
            display: block; }
  .gldiv .gldiv_c {
    width: 658px;
    height: 630px;
    background-color: #f8f8f8;
    font-size: 12px; }
    .gldiv .gldiv_c h1 {
      padding: 20px;
      height: 44px;
      font-size: 16px; }
    .gldiv .gldiv_c .t1 {
      color: #888888; }
    .gldiv .gldiv_c .pri {
      background-color: #cd0606;
      padding: 20px 20px 4px 20px;
      height: 84px; }
      .gldiv .gldiv_c .pri li {
        float: left;
        color: #fff; }
      .gldiv .gldiv_c .pri .t1 {
        line-height: 14px;
        font-size: 14px;
        width: 65px;
        padding-top: 10px; }
      .gldiv .gldiv_c .pri .t2 {
        line-height: 38px;
        height: 38px;
        width: 200px;
        font-size: 38px; }
        .gldiv .gldiv_c .pri .t2 #salePrice {
          font-size: 38px; }
      .gldiv .gldiv_c .pri .t3 {
        margin-top: 5px;
        background-color: #fbffb8;
        padding-left: 5px;
        width: 50px;
        border-radius: 5px; }
        .gldiv .gldiv_c .pri .t3 span {
          line-height: 22px;
          height: 28px;
          padding-left: 12px;
          font-size: 14px;
          background-image: url("../img/gl/goodsinfo_tag1.png");
          background-repeat: no-repeat; }
      .gldiv .gldiv_c .pri .t4,
      .gldiv .gldiv_c .pri .t5 {
        padding-top: 10px;
        line-height: 16px;
        text-align: center;
        font-size: 14px; }
      .gldiv .gldiv_c .pri .t4 {
        width: 125px;
        clear: both;
        padding-left: 65px; }
      .gldiv .gldiv_c .pri .t5 {
        width: 125px;
        padding-left: 10px; }
      .gldiv .gldiv_c .pri .t4 span,
      .gldiv .gldiv_c .pri .t5 span {
        text-decoration: line-through; }
    .gldiv .gldiv_c .info1 {
      padding: 17px 0;
      height: 68px;
      margin: 0 20px;
      border-bottom: 1px solid #dbdbdb; }
      .gldiv .gldiv_c .info1 li {
        line-height: 24px;
        height: 24px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: #888888; }
      .gldiv .gldiv_c .info1 p {
        width: 70px; }
      .gldiv .gldiv_c .info1 a {
        color: #000; }
      .gldiv .gldiv_c .info1 .t1 {
        line-height: 14px;
        height: 20px;
        font-size: 12px;
        width: 150px;
        padding-top: 10px; }
      .gldiv .gldiv_c .info1 .t2 .t2p {
        width: 120px; }
    .gldiv .gldiv_c .info2 {
      margin-right: 20px;
      margin-left: 20px;
      padding-top: 17px;
      padding-bottom: 17px;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
      border-bottom-color: #dbdbdb; }
      .gldiv .gldiv_c .info2 .tt {
        width: 430px; }
      .gldiv .gldiv_c .info2 li {
        color: #888888;
        width: 240px;
        clear: none;
        float: left;
        line-height: 26px; }
        .gldiv .gldiv_c .info2 li .left {
          width: 70px;
          float: left; }
      .gldiv .gldiv_c .info2 .t1 {
        height: 26px;
        line-height: 26px; }
    .gldiv .gldiv_c .info3 {
      margin: 0 20px;
      padding: 25px 0 17px 0;
      height: 93px; }
      .gldiv .gldiv_c .info3 li .left {
        width: 70px;
        float: left; }
      .gldiv .gldiv_c .info3 .t1 {
        line-height: 32px;
        height: 32px; }
        .gldiv .gldiv_c .info3 .t1 .accdiv {
          position: relative;
          width: 50px;
          padding-top: 5px; }
          .gldiv .gldiv_c .info3 .t1 .accdiv input {
            border: 1px solid #000;
            width: 20px;
            display: block;
            line-height: 32px;
            height: 20px;
            float: left;
            text-align: center; }
          .gldiv .gldiv_c .info3 .t1 .accdiv i {
            top: 0;
            left: 25px;
            background: url(../img/gl/goodsinfo_img1a.png);
            display: block;
            height: 14px;
            width: 18px;
            position: absolute;
            cursor: pointer;
            line-height: 50px;
            overflow: hidden; }
          .gldiv .gldiv_c .info3 .t1 .accdiv .sub {
            background-position: 0 -15px;
            top: 16px; }
      .gldiv .gldiv_c .info3 .buy {
        float: left;
        padding-top: 25px; }
      .gldiv .gldiv_c .info3 .buy:nth-child(2) {
        margin-right: 20px; }
  .gldiv .xstars.bg {
    background-image: url(../img/gl/stars.png); }
  .gldiv .xstars {
    float: left;
    display: block;
    width: 65px;
    zoom: 1;
    height: 15px;
    overflow: hidden; }
    .gldiv .xstars span {
      height: 15px;
      background-repeat: no-repeat;
      display: block; }
  .gldiv .bg {
    background: #f2f2f2; }
  .gldiv .gldiv_r {
    width: 190px;
    height: 630px;
    background-color: #f4f4f4; }

.glbox .glist .topcomprobox {
  width: 1250px;
  height: 280px; }
  .glbox .glist .topcomprobox .comproul {
    background-color: #f2f2f2; }
    .glbox .glist .topcomprobox .comproul .comproli {
      font-size: 14px;
      height: 38px;
      width: 56px;
      padding: 0 40px;
      line-height: 38px;
      text-align: center;
      float: left;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #dbdbdb;
      cursor: pointer; }
    .glbox .glist .topcomprobox .comproul .on {
      border-bottom: 2px solid #60a411;
      color: #397300; }
  .glbox .glist .topcomprobox .comprodiv {
    height: auto;
    margin-left: 30px;
    width: 1250px;
    padding-top: 30px;
    color: #666666; }
    .glbox .glist .topcomprobox .comprodiv .comprocon {
      display: none; }
    .glbox .glist .topcomprobox .comprodiv .disblock {
      display: block; }
    .glbox .glist .topcomprobox .comprodiv ul li {
      float: left; }
    .glbox .glist .topcomprobox .comprodiv ul .ql {
      width: 120px;
      height: 181px; }
      .glbox .glist .topcomprobox .comprodiv ul .ql a {
        color: #666666; }
        .glbox .glist .topcomprobox .comprodiv ul .ql a img {
          width: 120px;
          height: 120px; }
      .glbox .glist .topcomprobox .comprodiv ul .ql .ql_p1 {
        width: 120px;
        height: 34px;
        line-height: 17px;
        font-size: 12px;
        text-align: left;
        overflow: hidden;
        margin-bottom: 3px; }
      .glbox .glist .topcomprobox .comprodiv ul .ql .ql_p2 {
        font-size: 12px; }
        .glbox .glist .topcomprobox .comprodiv ul .ql .ql_p2 strong {
          color: red; }
        .glbox .glist .topcomprobox .comprodiv ul .ql .ql_p2 del {
          color: #666;
          padding-left: 2px;
          text-decoration: line-through; }
    .glbox .glist .topcomprobox .comprodiv ul .srt {
      height: 110px;
      width: 65px;
      font-size: 48px;
      line-height: 120px;
      color: #e8e8e8;
      text-align: center; }
    .glbox .glist .topcomprobox .comprodiv ul .total {
      width: 160px;
      height: 160px;
      font-size: 12px;
      padding: 5px;
      text-align: center;
      border-radius: 15px;
      border: 1px solid #999; }
      .glbox .glist .topcomprobox .comprodiv ul .total .total_p {
        font-size: 16px;
        color: #111111;
        margin-bottom: 5px; }
      .glbox .glist .topcomprobox .comprodiv ul .total #TotalPrices {
        text-decoration: line-through;
        color: #999; }
      .glbox .glist .topcomprobox .comprodiv ul .total #VipPrice {
        color: red;
        font-size: 14px; }
      .glbox .glist .topcomprobox .comprodiv ul .total #StateProvince {
        font-size: 14px; }
      .glbox .glist .topcomprobox .comprodiv ul .total .buy {
        margin-top: 10px; }

.morebigbox {
  background-color: #f8f8f8; }

.glbox .glist .rightbox {
  width: 480px; }

.glbox .glist .leftbox {
  width: 770px;
  background-color: #fff; }
  .glbox .glist .leftbox .ctcomprobox {
    background-color: #f2f2f2; }
    .glbox .glist .leftbox .ctcomprobox a {
      color: #000; }
    .glbox .glist .leftbox .ctcomprobox .ctcomproli {
      font-size: 14px;
      height: 36px;
      width: 56px;
      padding: 0 40px;
      line-height: 36px;
      text-align: center;
      float: left;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #dbdbdb;
      cursor: pointer; }
    .glbox .glist .leftbox .ctcomprobox .on {
      border-bottom: 2px solid #60a411;
      color: #397300; }
  .glbox .glist .leftbox #detail_box {
    padding: 10px; }
    .glbox .glist .leftbox #detail_box .detail img {
      margin-right: auto;
      margin-left: auto;
      text-align: center; }
    .glbox .glist .leftbox #detail_box .detail .center {
      display: block;
      width: 770px; }
    .glbox .glist .leftbox #detail_box .comment {
      color: #999;
      font-size: 14px; }
      .glbox .glist .leftbox #detail_box .comment .line2 {
        height: 15px; }
      .glbox .glist .leftbox #detail_box .comment .msgbox {
        border: 1px solid #000;
        height: 140px;
        width: 100%;
        padding: 0 20px; }
        .glbox .glist .leftbox #detail_box .comment .msgbox dt {
          padding-top: 25px;
          width: 30%; }
          .glbox .glist .leftbox #detail_box .comment .msgbox dt p:nth-child(1) {
            padding-top: 5px;
            padding-bottom: 5px; }
          .glbox .glist .leftbox #detail_box .comment .msgbox dt #avgcomment2 {
            font-size: 28px;
            color: #ff6600;
            line-height: 30px;
            padding-right: 3px; }
          .glbox .glist .leftbox #detail_box .comment .msgbox dt .xstars {
            margin-top: 14px;
            margin-left: 5px;
            width: 60px;
            height: 16px; }
          .glbox .glist .leftbox #detail_box .comment .msgbox dt .xstars.bg {
            background-image: url(../img/gl/stars.png); }
          .glbox .glist .leftbox #detail_box .comment .msgbox dt .link {
            padding-top: 5px; }
        .glbox .glist .leftbox #detail_box .comment .msgbox dd {
          width: 70%;
          padding-top: 32px; }
          .glbox .glist .leftbox #detail_box .comment .msgbox dd .msg1 {
            height: 22px;
            position: relative;
            line-height: 22; }
            .glbox .glist .leftbox #detail_box .comment .msgbox dd .msg1 span {
              background: url(../img/gl/bg1.gif) no-repeat;
              position: relative;
              display: block;
              height: 21px;
              width: 28px;
              text-align: center;
              color: #fff;
              margin: 0;
              margin-left: -15px;
              top: 0;
              line-height: 16px; }
          .glbox .glist .leftbox #detail_box .comment .msgbox dd .msg2 {
            background: url(../img/gl/bg2.gif) no-repeat;
            height: 65px; }
      .glbox .glist .leftbox #detail_box .comment .comlist {
        background-color: #fff;
        font-size: 12px; }
        .glbox .glist .leftbox #detail_box .comment .comlist .t1 {
          padding: 10px 5px;
          border-bottom: 1px solid #ccc;
          height: 48px; }
          .glbox .glist .leftbox #detail_box .comment .comlist .t1 p {
            line-height: 24px;
            text-align: left; }
          .glbox .glist .leftbox #detail_box .comment .comlist .t1 .tl {
            float: left;
            width: 60%;
            color: #464646; }
          .glbox .glist .leftbox #detail_box .comment .comlist .t1 .tr {
            width: 40%; }
            .glbox .glist .leftbox #detail_box .comment .comlist .t1 .tr big {
              float: left;
              font-size: 12px; }
            .glbox .glist .leftbox #detail_box .comment .comlist .t1 .tr .v1 {
              background-position: 0px 0px; }
            .glbox .glist .leftbox #detail_box .comment .comlist .t1 .tr em {
              text-indent: 999999px;
              float: left;
              display: block;
              background: url(../img/gl/user_level.gif) no-repeat;
              margin-left: 8px;
              height: 15px;
              width: 15px; }
            .glbox .glist .leftbox #detail_box .comment .comlist .t1 .tr .address {
              padding-top: 15px;
              display: block;
              height: 22px;
              line-height: 22px;
              text-align: center;
              float: none;
              width: 100px; }
        .glbox .glist .leftbox #detail_box .comment .comlist .page {
          padding: 5px 10px;
          line-height: 22px;
          text-align: right;
          color: #808080; }
          .glbox .glist .leftbox #detail_box .comment .comlist .page #page a {
            padding: 2px 6px;
            color: #666666;
            background-color: #fcfcfc;
            border: 1px solid #e5e5e5;
            margin: 0 2px; }

.glbox .glist .topcomprobox .comproul .btcomproli {
  width: 120px;
  cursor: pointer; }
.glbox .glist .topcomprobox .comproul .on {
  border-bottom: 2px solid #60a411;
  color: #397300; }
.glbox .glist .topcomprobox .btcomprodiv ul .ql {
  width: 160px;
  height: 226px;
  padding: 0 15px; }
  .glbox .glist .topcomprobox .btcomprodiv ul .ql a {
    color: #666666; }
    .glbox .glist .topcomprobox .btcomprodiv ul .ql a img {
      width: 160px;
      height: 160px; }
  .glbox .glist .topcomprobox .btcomprodiv ul .ql .ql_p1 {
    width: 160px;
    height: 34px;
    line-height: 17px;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    margin-bottom: 5px; }
  .glbox .glist .topcomprobox .btcomprodiv ul .ql .ql_p2 {
    font-size: 12px;
    text-align: left; }
    .glbox .glist .topcomprobox .btcomprodiv ul .ql .ql_p2 strong {
      color: red;
      padding-left: 5px; }
    .glbox .glist .topcomprobox .btcomprodiv ul .ql .ql_p2 del {
      color: #666;
      padding-left: 2px;
      text-decoration: line-through; }

.glist .moreact {
  height: 300px; }
  .glist .moreact .tx {
    background: url(../img/gl/moreact.gif) no-repeat;
    height: 40px;
    text-indent: -9999999px;
    margin: 0 20px; }
  .glist .moreact .lix {
    padding-left: 100px; }
    .glist .moreact .lix .actimg {
      width: 480px;
      height: 130px;
      padding: 10px;
      float: left; }

.actGotop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 150px;
  height: 195px;
  display: none;
  z-index: 100; }

.actGotop a,
.actGotop a:link {
  width: 150px;
  height: 195px;
  display: inline-block;
  background: url(../img/gl/gotop.png) no-repeat;
  outline: none; }

.actGotop a:hover {
  width: 150px;
  height: 195px;
  background: url(../img/gl/gotop.gif) no-repeat;
  outline: none; }

.fixed {
  position: fixed;
  top: 300px;
  right: 350px; }

.fixedmax {
  position: absolute;
  right: 350px; }

/*# sourceMappingURL=goodlist.css.map */
