.nav .subnav .navp .navul1 {
  position: absolute;
  /* background-color: red; */
  width: 250px;
  top: 45px;
  left: 0;
  display: block;
  /* display: none; */
  z-index: 99;
  /* height: 200px; */ }

.hc_main {
  height: 1804px;
  line-height: 16px;
  font-size: 12px;
  color: #999; }
  .hc_main a {
    color: #999999; }

.row1 {
  height: 1258px;
  width: 250px; }
  .row1 .null {
    width: 190px;
    height: 496px; }
  .row1 .hotlist {
    height: 760px;
    width: 250px;
    border: 1px solid #e0e0e0; }
    .row1 .hotlist .title {
      background-color: #f7f7f7;
      border: 1px solid #ffffff;
      line-height: 38px;
      height: 38px; }
      .row1 .hotlist .title strong {
        font-size: 14px;
        font-weight: normal;
        color: #333333;
        padding-left: 10px; }
    .row1 .hotlist .prolist {
      padding: 10px 0 10px 10px; }
      .row1 .hotlist .prolist li {
        padding-top: 5px;
        height: 65px; }
        .row1 .hotlist .prolist li p strong {
          color: #cd0606;
          font-weight: normal; }
        .row1 .hotlist .prolist li p del {
          color: #bfbfbf;
          padding-left: 5px; }
        .row1 .hotlist .prolist li p img {
          height: 60px;
          width: 60px; }
        .row1 .hotlist .prolist li p.img {
          height: 60px;
          width: 60px;
          float: left;
          background: yellow; }
        .row1 .hotlist .prolist li .rbox {
          width: 152px;
          float: left;
          padding-left: 8px;
          padding-top: 5px; }

.line5 {
  height: 10px; }

.row2 {
  width: 990px;
  height: 1804px; }
  .row2 .hc_path {
    height: 30px;
    margin: 5px 0;
    padding-top: 10px; }
  .row2 .proban .t1 {
    float: left;
    height: 180px;
    width: 375px;
    margin-right: 10px; }
  .row2 .proban .t2 {
    float: left;
    height: 180px;
    width: 375px;
    margin-right: 10px; }
  .row2 .proban .t3 {
    float: left;
    height: 180px;
    width: 210px;
    margin-right: 10px; }
  .row2 .hc_filter {
    height: 212px;
    color: #666;
    font-size: 14px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e0e0e0;
    line-height: 35px;
    padding-right: 15px;
    padding-left: 15px; }
    .row2 .hc_filter .title strong {
      font-weight: normal; }
    .row2 .hc_filter .title em a {
      background-image: url(../img/gl/list_ico1.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 18px; }
    .row2 .hc_filter .list li {
      line-height: 27px;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
      border-bottom-color: #e0e0e0;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px; }
      .row2 .hc_filter .list li p {
        padding-top: 3px;
        padding-right: 10px;
        padding-left: 10px;
        float: left;
        padding-bottom: 3px; }
      .row2 .hc_filter .list li .tx {
        float: left;
        width: 90px;
        padding-right: 10px;
        padding-left: 10px;
        color: #999999;
        text-align: right;
        padding-top: 3px; }
      .row2 .hc_filter .list li .box {
        float: left;
        width: 65px;
        text-align: center; }
        .row2 .hc_filter .list li .box p.on {
          color: #ffffff;
          background-color: #559b0d; }
          .row2 .hc_filter .list li .box p.on a {
            color: #fff; }
      .row2 .hc_filter .list li .data {
        margin-left: 175px; }

.row2 .hc_sort {
  background-color: #f4f4f4;
  height: 34px;
  border: 1px solid #e0e0e0;
  line-height: 34px;
  font-size: 12px; }
  .row2 .hc_sort .send {
    width: 109px;
    float: left;
    padding-left: 5px; }
  .row2 .hc_sort .sort {
    float: left; }
    .row2 .hc_sort .sort li {
      margin-left: 10px;
      margin-top: 6px;
      float: left;
      line-height: 20px; }
      .row2 .hc_sort .sort li a {
        background-color: #fafafa;
        height: 20px;
        border: 1px solid #e8e8e8;
        float: left;
        padding-left: 8px;
        line-height: 20px;
        color: #666666;
        background-repeat: no-repeat;
        background-position: 32px center; }
      .row2 .hc_sort .sort li a.up {
        background-image: url(../img/gl/list_ico3a.png);
        padding-right: 18px; }
      .row2 .hc_sort .sort li a.down {
        background-image: url(../img/gl/list_ico4a.png);
        padding-right: 18px; }
  .row2 .hc_sort .page {
    padding-right: 10px;
    padding-left: 10px; }
    .row2 .hc_sort .page li {
      float: left; }
      .row2 .hc_sort .page li .pagenum span {
        padding: 0 5px; }
      .row2 .hc_sort .page li a.pr {
        padding: 0 5px; }
      .row2 .hc_sort .page li a.nex {
        padding: 0 5px; }
      .row2 .hc_sort .page li .delpage {
        padding: 0 5px; }
  .row2 .hc_sort .style {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e0e0e0;
    width: 78px;
    height: 34px; }
    .row2 .hc_sort .style .stylebtn {
      background-color: #358000;
      background-position: 0px -19px;
      border: 1px solid #358000; }
    .row2 .hc_sort .style li {
      float: left;
      margin-top: 7px;
      margin-left: 10px; }
      .row2 .hc_sort .style li a {
        float: left;
        line-height: 100px;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        height: 19px;
        width: 22px;
        border: 1px solid #e8e8e8;
        overflow: hidden;
        background-color: #fafafa;
        cursor: pointer; }
      .row2 .hc_sort .style li a.img {
        background: url(../img/gl/list_ico12.png) no-repeat; }
      .row2 .hc_sort .style li a.list {
        background: url(../img/gl/list_ico13.png) no-repeat; }
    .row2 .hc_sort .style li a:hover {
      background-color: #f7f7f7;
      border: 1px solid #cccccc; }

.row2 .hc_goods .img {
  height: 240px;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px; }
  .row2 .hc_goods .img img {
    height: 220px;
    width: 220px; }
.row2 .hc_goods li:hover {
  box-shadow: 1px 1px 4px 0px #999999;
  border: 2px solid green; }
.row2 .hc_goods li {
  float: left;
  width: 233px;
  height: 395px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 2px solid #fff; }
  .row2 .hc_goods li .goods {
    width: 236px;
    background-color: #ffffff;
    min-height: 395px;
    position: absolute;
    border: 2px solid #ffffff; }
  .row2 .hc_goods li .name {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 18px;
    margin-top: 8px; }
    .row2 .hc_goods li .name a {
      display: block; }
    .row2 .hc_goods li .name span {
      height: 36px;
      overflow: hidden;
      display: block; }
    .row2 .hc_goods li .name strong {
      font-weight: normal;
      color: #ff7300;
      line-height: 18px;
      height: 18px;
      overflow: hidden;
      display: block; }
  .row2 .hc_goods li .pri {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    height: 24px;
    line-height: 22px;
    padding-top: 5px; }
    .row2 .hc_goods li .pri strong {
      font-size: 16px;
      color: #cd0606;
      line-height: 22px;
      font-weight: normal;
      padding-right: 5px;
      float: left; }
  .row2 .hc_goods li .mpri {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 18px;
    height: 18px;
    clear: both; }
    .row2 .hc_goods li .mpri small {
      font-size: 12px;
      color: #999999; }
    .row2 .hc_goods li .mpri del {
      padding-left: 3px; }
    .row2 .hc_goods li .mpri .con {
      float: right;
      color: #999999; }
      .row2 .hc_goods li .mpri .con a {
        color: #005aa0; }
  .row2 .hc_goods li .buy {
    padding: 0 15px;
    height: 35px; }
    .row2 .hc_goods li .buy a {
      margin: 10px 5px 0 5px;
      background-color: #f5f5f5;
      border: 1px solid #d9d9d9;
      line-height: 23px;
      height: 23px;
      padding-right: 9px;
      padding-left: 9px; }
  .row2 .hc_goods li .go:hover {
    color: #ffffff;
    background-color: #c80606;
    border: 1px solid #c80606; }
  .row2 .hc_goods li .cat:hover {
    color: #ffffff;
    background-color: #835a31;
    border: 1px solid #835a31; }
  .row2 .hc_goods li .tag {
    height: 45px;
    width: 45px;
    z-index: 999;
    top: 9px;
    right: 9px;
    position: absolute; }

.row2 .pagelist {
  text-align: right;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .row2 .pagelist p {
    font-size: 14px;
    line-height: 30px;
    padding-right: 2px;
    padding-left: 2px;
    display: inline; }
    .row2 .pagelist p a {
      background-color: #fcfcfc;
      padding-right: 10px;
      padding-left: 10px;
      border: 1px solid #dbdbdb;
      padding-top: 3px;
      padding-bottom: 3px;
      line-height: 20px; }
  .row2 .pagelist p.this a {
    color: #ffffff;
    text-decoration: none;
    background-color: #60a411;
    border: 1px solid #60a411; }

.actGotop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 150px;
  height: 195px;
  display: none;
  z-index: 100; }

.actGotop a,
.actGotop a:link {
  width: 150px;
  height: 195px;
  display: inline-block;
  background: url(../img/gl/gotop.png) no-repeat;
  outline: none; }

.actGotop a:hover {
  width: 150px;
  height: 195px;
  background: url(../img/gl/gotop.gif) no-repeat;
  outline: none; }

/*# sourceMappingURL=listpage.css.map */
