/* 二级导航要收起 */
.nav .subnav .navp .navul1 {
    display: none;
}

.nav .subnav .navp:hover .navul1 {
    display: block;
}

.nav .subnav .navp .navul1 li .tx a {
    font-size: 14px;
}

.rgsbox {
    width: 100%;
    background-color: #f5f5f5;
}

.rgsbox .rgsdiv {
    padding-top: 30px;
}

.rgsbox .left {
    height: 550px;
    width: 570px;

}



.rgsbox .right {
    height: 465px;
    width: 610px;
    background-color: #fff;
}

.rgsbox .right .right_t {
    width: 610px;

}

.rgsbox .right .right_t ul li {
    float: left;
    width: 50%;
    height: 46px;
    font-size: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e4e4e4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e4e4e4;
    margin-left: -1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #e4e4e4;
}

.rgsbox .right .right_t ul li a {

    background-color: #f5f5f5;
    display: block;
    text-align: center;
    line-height: 44px;
    border: 1px solid #ffffff;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #cd0606;
}

.rgsbox .right .right_t ul .on {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #60a411;
    height: 44px;
}

.rgsbox .right .right_t ul .on a {
    background-color: #ffffff;
    color: #358000;
}

/* 表单区域 */
.rgsbox .right .right_b{
        display:none;
}
.rgsbox .right .disblock{
    display:block;
}

.rgsbox .right .right_b .list {
    padding: 28px 30px 0 20px;
}

.rgsbox .right .right_b .list li {
    margin-bottom: 18px;
}

.rgsbox .right .right_b .list li p {
    float: left;
    line-height: 32px;
    height: 32px;
}

.rgsbox .right .right_b .list li .ta {
    width: 70px;
    padding-right: 15px;
    font-size: 16px;
    color: #666666;
    text-align: right;
}

.rgsbox .right .right_b .list li .ip {
    width: 240px;
}
.rgsbox .right .right_b #canvas{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.rgsbox .right .right_b .list li .input {
    background-image: url(../img/inp_bg1.png);
    background-repeat: no-repeat;
    border: 1px solid #b4b6b7;
    font-size: 14px;
    line-height: 29px;
    height: 29px;
    width: 231px;
    padding-right: 5px;
    padding-left: 5px;
}

.rgsbox .right .right_b .list li .in {
    margin-left: 20px;
    font-size: 12px;
    color: #999999;
}

.rgsbox .right .warm {
    /* width: 610px; */
    text-align: center;
    font-size: 14px;
    color: #999;
}

.rgsbox .right .warmin {
    padding-left: 80px;
    padding-top: 10px;
}

.rgsbox .right .warmin .warmin_a {
    padding: 5px 0 0 20px;
}


.rgsbox .right .right_b .login {
    padding-top: 60px;
}

.rgsbox .right .right_b .login .otherwarmin {
    padding-top: 15px;
}

.rgsbox .right .right_b .login .otherwarmin dt {
    font-size: 14px;
    padding-bottom:15px;
}

.rgsbox .right .right_b .login .otherwarmin a{
    margin: 0 10px;
    float: left;
    display: block;
    width: 100px;
    height: 50px;
}


#canvas{
    width: 100px;
    height: 40px;
}









