input {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc; }

.logo .logo_r {
  position: relative; }
  .logo .logo_r p {
    height: 55px;
    width: 482px;
    position: absolute;
    top: 25px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99;
    line-height: 300px;
    overflow: hidden;
    vertical-align: middle; }
  .logo .logo_r .cart_step1 {
    background: url(../img/gl/cart_setp1.png); }

.line3 {
  width: 100%;
  height: 2px;
  background-color: #60a411; }

.cartbox .cart_main {
  font-size: 12px; }
  .cartbox .cart_main .title {
    margin-bottom: 15px; }
    .cartbox .cart_main .title h3 {
      font-size: 24px;
      height: 36px;
      text-align: left;
      float: left;
      width: 500px; }
    .cartbox .cart_main .title em {
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
      line-height: 25px;
      height: 25px; }
      .cartbox .cart_main .title em strong {
        padding: 0 5px;
        color: #cd0606; }
      .cartbox .cart_main .title em a {
        color: #fff;
        display: block;
        width: 44px;
        height: 25px;
        background-color: #cd0606;
        border-radius: 5px; }
  .cartbox .cart_main .cart_list ul li p {
    float: left;
    color: #888888; }
  .cartbox .cart_main .cart_list p.ck {
    padding-left: 20px;
    padding-top: 40px;
    text-align: left; }
  .cartbox .cart_main .cart_list p.img {
    width: 80px;
    padding: 0 15px; }
  .cartbox .cart_main .cart_list p.ico {
    width: 50px;
    padding-left: 8px; }
    .cartbox .cart_main .cart_list p.ico span {
      background-image: url(../img/gl/cartlist.png);
      background-repeat: no-repeat;
      height: 16px;
      width: 16px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-top: 10px;
      line-height: 40px;
      overflow: hidden; }
  .cartbox .cart_main .cart_list p.bt2 {
    font-size: 14px; }
  .cartbox .cart_main .cart_list p.txt {
    width: 370px;
    padding-right: 120px;
    padding-left: 10px;
    text-align: left; }
  .cartbox .cart_main .cart_list p.mpri {
    width: 110px; }
  .cartbox .cart_main .cart_list p.save {
    width: 110px; }
  .cartbox .cart_main .cart_list p.sunm {
    width: 100px; }
  .cartbox .cart_main .cart_list p.pri {
    width: 100px; }
  .cartbox .cart_main .cart_list p.st {
    text-align: center; }
    .cartbox .cart_main .cart_list p.st .del {
      line-height: 60px;
      height: 16px;
      width: 16px;
      background-image: url(../img/gl/ico3a.png);
      background-repeat: no-repeat;
      background-position: center center;
      padding-right: 10px;
      padding-left: 10px;
      overflow: hidden;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      margin-top: 18px; }
    .cartbox .cart_main .cart_list p.st .del:hover {
      background: url(../img/gl/ico3b.png) no-repeat;
      background-position: center center; }
  .cartbox .cart_main .cart_list .txa {
    line-height: 38px;
    height: 38px;
    color: #8c8c8c;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #e0e0e0;
    border-right-color: #e0e0e0;
    border-left-color: #e0e0e0; }
    .cartbox .cart_main .cart_list .txa p {
      padding-top: 0px;
      color: #8c8c8c;
      text-align: center; }
      .cartbox .cart_main .cart_list .txa p img {
        height: auto;
        padding-bottom: 0px; }
  .cartbox .cart_main .cart_list .txb {
    background-color: #f7f7f7;
    line-height: 35px;
    height: 35px;
    margin-top: -1px;
    z-index: 9;
    border: 1px solid #e0e0e0;
    padding-top: 7px;
    padding-bottom: 7px; }
    .cartbox .cart_main .cart_list .txb p {
      color: #111111; }
    .cartbox .cart_main .cart_list .txb p.ck {
      padding-top: 2px;
      height: 20px;
      color: #111111; }
  .cartbox .cart_main .cart_list .txd {
    background-color: #ffffff;
    position: relative;
    height: 30px;
    z-index: -1;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0; }
    .cartbox .cart_main .cart_list .txd p.tx {
      height: 20px;
      width: 80px;
      background-color: #f5f5f5;
      line-height: 20px;
      color: #6c6c6c;
      position: absolute;
      z-index: 99;
      left: 64px;
      bottom: -1px;
      border: 1px solid #e0e0e0;
      text-align: center; }
  .cartbox .cart_main .cart_list .pro {
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #e0e0e0;
    border-left-color: #e0e0e0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #e0e0e0; }
    .cartbox .cart_main .cart_list .pro a {
      color: #666; }
    .cartbox .cart_main .cart_list .pro p {
      padding-top: 25px;
      text-align: center; }
    .cartbox .cart_main .cart_list .pro p.ck {
      padding-top: 40px;
      padding-right: 10px; }
    .cartbox .cart_main .cart_list .pro p.img {
      padding-top: 12px;
      padding-right: 15px;
      padding-bottom: 12px;
      padding-left: 15px;
      height: 80px; }
      .cartbox .cart_main .cart_list .pro p.img img {
        width: 80px;
        height: 80px; }
    .cartbox .cart_main .cart_list .pro p.txt {
      width: 370px;
      padding-right: 120px;
      padding-left: 10px;
      text-align: left; }
    .cartbox .cart_main .cart_list .pro p.mpri del {
      display: block;
      color: #9c9c9c;
      height: 20px; }
    .cartbox .cart_main .cart_list .pro p.mpri strong {
      font-weight: normal;
      color: #3c3c3c;
      line-height: 16px;
      height: 16px; }
    .cartbox .cart_main .cart_list .pro p.save strong {
      display: block;
      color: #9c9c9c;
      height: 20px; }
    .cartbox .cart_main .cart_list .pro p.save small {
      font-size: 12px;
      color: #ffffff;
      background-color: #ff9518;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 36px;
      text-align: center;
      line-height: 17px;
      height: 17px; }
    .cartbox .cart_main .cart_list .pro p.sunm {
      width: 100px;
      position: relative; }
      .cartbox .cart_main .cart_list .pro p.sunm input {
        background-repeat: no-repeat;
        background-position: left top;
        height: 27px;
        border: 1px solid #cccccc;
        width: 36px;
        font-size: 14px;
        left: 20px;
        top: 35px;
        position: absolute;
        display: block;
        line-height: 27px;
        color: #999999; }
      .cartbox .cart_main .cart_list .pro p.sunm .add {
        left: 63px;
        top: 35px;
        position: absolute; }
      .cartbox .cart_main .cart_list .pro p.sunm i {
        background-image: url(../img/gl/goodsinfo_img1a.png);
        background-repeat: no-repeat;
        display: block;
        height: 14px;
        width: 18px;
        position: absolute;
        cursor: pointer;
        line-height: 50px;
        overflow: hidden; }
      .cartbox .cart_main .cart_list .pro p.sunm .min {
        left: 63px;
        top: 52px;
        position: absolute;
        background-position: 0 -17px; }
    .cartbox .cart_main .cart_list .pro p.pri strong {
      color: #cd0606;
      display: block;
      margin-right: auto;
      margin-left: auto;
      font-weight: normal;
      font-size: 14px;
      padding-top: 14px; }
  .cartbox .cart_main .cart_list .txc {
    background-color: transparent;
    padding-top: 5px;
    margin-top: -1px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e0e0e0; }
    .cartbox .cart_main .cart_list .txc p.ck {
      padding-top: 2px;
      width: 80px; }
    .cartbox .cart_main .cart_list .txc p.st {
      padding-top: 0px;
      margin-top: 0px;
      padding-left: 30px; }
      .cartbox .cart_main .cart_list .txc p.st a {
        color: #000;
        display: block; }
      .cartbox .cart_main .cart_list .txc p.st .del {
        margin-top: 4px;
        margin-right: 0px;
        margin-left: 0px;
        float: left;
        text-align: left;
        width: 20px;
        padding: 0px; }
      .cartbox .cart_main .cart_list .txc p.st strong {
        padding-top: 3px;
        font-weight: normal;
        float: left;
        padding-left: 3px; }

.line4 {
  height: 15px; }

.cartbox .pribox {
  height: 100px; }
.cartbox .rbox {
  padding: 60px 15px 0 0; }
  .cartbox .rbox p.tx {
    padding-right: 5px;
    padding-top: 20px;
    color: #8c8c8c;
    font-size: 14px; }
  .cartbox .rbox .pri {
    font-size: 40px;
    line-height: 40px;
    color: #cd0606;
    font-weight: bold; }

.cart_buy {
  line-height: 35px;
  padding: 10px 5px; }
  .cart_buy a {
    height: 35px;
    width: 163px;
    overflow: hidden;
    display: block;
    font-size: 16px;
    text-align: center;
    color: #ffffff; }
  .cart_buy p.back a {
    background: url(../img/gl/buy_bk.png) no-repeat; }
  .cart_buy p.buy a {
    background: url(../img/gl/buy_go.png) no-repeat; }

.topcomprobox {
  width: 1250px;
  height: 280px; }
  .topcomprobox .comproul {
    background-color: #f2f2f2;
    cursor: pointer; }
    .topcomprobox .comproul .comproli {
      font-size: 14px;
      height: 38px;
      width: 120px;
      padding: 0 40px;
      line-height: 38px;
      text-align: center;
      float: left;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #dbdbdb;
      cursor: pointer; }
    .topcomprobox .comproul .on {
      border-bottom: 2px solid #60a411;
      color: #397300; }
  .topcomprobox .comprodiv {
    height: auto;
    margin-left: 30px;
    width: 1250px;
    padding-top: 30px;
    color: #666666; }
    .topcomprobox .comprodiv .comprocon {
      display: none; }
    .topcomprobox .comprodiv .disblock {
      display: block; }
    .topcomprobox .comprodiv ul li {
      float: left; }
    .topcomprobox .comprodiv ul .ql {
      width: 160px;
      height: 226px;
      padding: 0 15px; }
      .topcomprobox .comprodiv ul .ql a {
        color: #666666; }
        .topcomprobox .comprodiv ul .ql a img {
          width: 160px;
          height: 160px; }
      .topcomprobox .comprodiv ul .ql .ql_p1 {
        width: 160px;
        height: 34px;
        line-height: 17px;
        font-size: 12px;
        text-align: left;
        overflow: hidden;
        margin-bottom: 5px; }
      .topcomprobox .comprodiv ul .ql .ql_p2 {
        font-size: 12px;
        text-align: left; }
        .topcomprobox .comprodiv ul .ql .ql_p2 strong {
          color: red;
          padding-left: 5px; }
        .topcomprobox .comprodiv ul .ql .ql_p2 del {
          color: #666;
          padding-left: 2px;
          text-decoration: line-through; }

.moreact {
  height: 300px; }
  .moreact .tx {
    background: url(../img/gl/moreact.gif) no-repeat;
    height: 40px;
    text-indent: -9999999px;
    margin: 0 20px; }
  .moreact .lix {
    padding-left: 100px; }
    .moreact .lix .actimg {
      width: 480px;
      height: 130px;
      padding: 10px;
      float: left; }

/*# sourceMappingURL=shopcart.css.map */
